.profileForm{
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
    padding: 30px;
    width:100%;
    display: flex;
    flex-direction:column;

}

.logOut{
    margin-top:50px;
}


.EditName{
    margin-top:50px;
}

.profile__spans{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.profile__spans span{
background-color: white;
color:black;
font-size: 15px;
}